<!-- List < MovieApp.Web.Models. Movie > 

İlk 3 kısım hepsinde ortak olucak o yüzden teker teker yazmamak içinnn          (.Movie kısmı modele göre değişkenlik gösteriyor)           -->

<!-- _ViewImports.cs viewini ekliyoruz      class türü çok önemli değil ama ismi önemli-->

@model List<Movie>     //ben model olarak bir Liste kullanacağım bu listenin tipi de ...... tam uzantısnı yazıyoruz.



        <!--navbar layout-->

    <h1>Film Listesi</h1> 

    <div id="filmler">


        @foreach (var movie in Model) //modelim benim liste listemin her bir elemanı movie
        {
            <div class=" film">
                <img src="/img/@movie.ImageUrl" alt="@movie.Title"> <!--fotoğraf kullanımında koruma oluyor startup.cs den middleware yazıyoruz.-->
                <p> @movie.Title</p>
                <p> @movie.Description</p>
                <p> @movie.Director</p>
                <!--oyuncular-->
                <p>
                    <ul>
                        @foreach (var player in movie.Players)
                        {

                            <li>@player</li>
                        }
                    </ul>
                </p>


            </div>

            
        }
       



    </div>



